.ttt-square {
    color: white;
    background-color: white;
    float: left;
    text-align: center;
}

.ttt-square:hover {
    color: black !important;
}

#TR, #TL, #MR, #ML, #BR, #BL {
    width: 8%;
}

#TL, #ML, #BL {
    margin-left: 37.5%;
}

#TR, #MR, #BR {
    margin-right: 30%;
}

#TC, #MC, #BC {
    width: 8%;
}

#TC, #BC {
    border-left-color: black;
    border-left-width: 2px;
    border-left-style: solid;
    border-right-color: black;
    border-right-width: 2px;
    border-right-style: solid;
}

#ML, #MR {
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-top-color: black;
    border-top-width: 2px;
    border-top-style: solid;
}


#MC {
    border-bottom-color: black;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    border-top-color: black;
    border-top-width: 2px;
    border-top-style: solid;
    border-left-color: black;
    border-left-width: 2px;
    border-left-style: solid;
    border-right-color: black;
    border-right-width: 2px;
    border-right-style: solid;
}

#X_WIN, #O_WIN, #T_WIN {
    margin-left: 47.5%;
}

#ScoreboardTitle {
    text-align: center;
    font-weight: bold;
}

#ResetButton, #PlayAgainButton {
    background-color: lightsteelblue;
    border: 1px solid black;
    border-radius: 5px;
    text-align: center;
    font-size: 8;
}

#ResetButton:hover, #PlayAgainButton:hover {
    background-color: steelblue;
}

#container {
    text-align: center;
}

#footer .share {
    position: relative;
}

#footer .share .btn-like {
    position: absolute;
    left: 40%;
}
#footer .share .btn-tweet {
    position: absolute;
    left: 50%;
}