{% load staticfiles %}
<!doctype HTML>
<html lang='en-US'>
<head>
    <meta charset="UTF-8">
    <meta name="author" content="Zach Freeman">
    <meta name="description" content="Tic Tac Toe Game">
    <meta name="keywords" content="tic tac toe, web games">
    <link type="text/css" rel="stylesheet" href="{% static 'ttt/css/base.css' %}">
    {% block metaprops %}{% endblock metaprops %}
    {% block css_file %}{% endblock css_file %}
    <title>{% block title %}Stub Title{% endblock title %}</title>
</head>
<body>
    <div id='head'>
        <h1>Tic-Tac-Toe</h1>
    </div>
    <div id='content'>
        {% block content %}
            <p>Here is some stub content</p>
        {% endblock content %}
    </div>
    <div id='footer'>
        <br>
        <hr>
        {% block footer %}
        {% endblock footer %}
        <p>Created by <a href="http://www.twitter.com/zfreeman" target="_blank">@zfreeman</a></p>
    </div>
    {% block scripts %}
    {% endblock scripts %}
</body>
</html>