{% extends "ttt/base.html" %}
{% load staticfiles %}

{% block css_file %}
<link type="text/css" rel="stylesheet" href="{% static "ttt/css/game.css" %}">
{% endblock css_file %}
{% block metaprops %}
    <meta property="fb:app_id"          content="523389931042692" />
    <meta property="og:type"            content="website" />
    <meta property="og:url"             content="http://dry-river-2020.herokuapp.com/" />
    <meta property="og:title"           content="Tic-Tac-Toe" />
    <meta property="og:description"     content="Play Tic Tac Toe in Zach's first webapp!">
    <meta property="og:image"           content="http://i.imgur.com/fj4TF2I.jpg" />
    {#Google plus    #}
    <meta itemprop="name" content="Zach's Tic-Tac-Toe Game">
    <meta itemprop="description" content="Zach's first web app, a tic-tac-toe game">
    <meta itemprop="image" content="http://i.imgur.com/fj4TF2I.jpg">
{% endblock metaprops %}


{% block title %}Tic-Tac-Toe{% endblock title %}

{% block content %}

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=523389931042692";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div id="TL" class="ttt-square">X</div>
    <div id="TC" class="ttt-square">X</div>
    <div id="TR" class="ttt-square">X</div>
    <br>
    <div id="ML" class="ttt-square">X</div>
    <div id="MC" class="ttt-square">X</div>
    <div id="MR" class="ttt-square">X</div>
    <br>
    <div id="BL" class="ttt-square">X</div>
    <div id="BC" class="ttt-square">X</div>
    <div id="BR" class="ttt-square">X</div>
    <br>
    <br>
    <div id="playbtncontainer">
        <table id="tablecontainer">
            <tr>
                <td>
                    <input type="button" class="MainBtn" id="PlayAgainButton" value="Play Again">
                    <ul id='buttonlist'>
                        <input type="button" id="PlayButtonHvH" class="PlaySettingsBtn" value="HvH">
                        <input type="button" id="PlayButtonHvC" class="PlaySettingsBtn" value="HvC">
                        <input type="button" id="PlayButtonCvH" class="PlaySettingsBtn" value="CvH">
                    </ul>
                </td>
            </tr>
        </table>
    </div>
    <div id="ScoreboardTitle">Scoreboard</div>
    <div id="X_WIN">X: 0</div>
    <div id="O_WIN">O: 0</div>
    <div id="T_WIN">T: 0</div>
    <div id="container">
        <input type="button" class="MainBtn" id="ResetButton" value="Reset Scoreboard">
    </div>
    <script type="text/javascript" src="{% static "ttt/js/game.js" %}"></script>
{% endblock content %}

{% block footer %}
    <hr>
    <div class="share">
        <div class="btn-like">
            <div class="fb-like" data-href="http://dry-river-2020.herokuapp.com/" data-send="false"
                 data-layout="button_count" data-width="450" data-show-faces="false" data-font="lucida grande"></div>
        </div>
        <div class="btn-tweet">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://dry-river-2020.herokuapp.com/"
               data-text="Zach's first webapp - tic tac toe!" data-via="zfreeman">Tweet</a>
        </div>
        <div class="btn-gplus">
            <div class="g-plusone" data-size="medium" data-href="http://dry-river-2020.herokuapp.com/"></div>
            <script type="text/javascript">
              (function() {
                var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                po.src = 'https://apis.google.com/js/plusone.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
              })();
            </script>
        </div>
    </div>
{% endblock footer %}

{% block scripts %}
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
        if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
        fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    </script>
{% endblock scripts %}