{% extends "ttt/base.html" %}
{% load staticfiles %}

{% block css_file %}
<link type="text/css" rel="stylesheet" href="{% static "ttt/css/game.css" %}">
{% endblock css_file %}

{% block title %}Tic-Tac-Toe{% endblock title %}

{% block content %}
    <div id="TL">TL</div>
    <div id="TC">TC</div>
    <div id="TR">TR</div>
    <br>
    <div id="ML">ML</div>
    <div id="MC">MC</div>
    <div id="MR">MR</div>
    <br>
    <div id="BL">BL</div>
    <div id="BC">BC</div>
    <div id="BR">BR</div>
    <br>
    <br>
    <div id="ScoreboardTitle">Scoreboard</div>
    <div id="X_WIN">X: 0</div>
    <div id="Y_WIN">Y: 0</div>
    <div id="container">
        <input type="button" id="ResetButton" value="Reset Leaderboard">
    </div>
    <br>
    <script type="text/javascript" src="{% static "ttt/js/game.js" %}"></script>
{% endblock content %}